<alert message="importCtrl.message" display="importCtrl.display" alert-class="importCtrl.alertClass"></alert>
<h1>Import New Schedule</h1>
<p>To import a new schedule into the system, you will need to collect the EE course data from banweb. This section should help in formatting the data correctly to be used in the system.</p>
<ol>
    <li>First, we will need to gather the data. Copy and paste the advanced search data from the EE course listings into an Excel file, making sure to include the table headings.</li>
    <li>The file columns should be in the following order: Select, CRN, Subj, Crse, Sec, Cmp, Cred, Title, Days, Time, Cap, Act, Rem, Instructor, Date (MM/DD), Location, Fee</li>
    <li>Next, the file will need to be exported as a CSV file, with semicolons separating the values instead of commas. To do this in Microsoft Excel, go to File -> Options -> Advanced -> Editing Section. In this section, uncheck the box that reads "Use system separators" and put a comma for the "decimal separator" field.</li>
    <li>Finally, save the document as a .csv file. Drag and drop or click to upload the file to import the data.</li>
</ol>
<form class="form-horizontal form-label-left" name="importData" novalidate>

    <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12">Year</label>
        <div class="col-md-9 col-sm-9 col-xs-12">
          <input type="number" ng-maxlength="4" ng-min="2000" ng-max="9999" name="year" class="form-control" placeholder="Ex: 2017" ng-model="importCtrl.year" required>
            <span ng-show="importData.year.$touched && importData.year.$invalid" class="validation-message">The year is required</span>
        </div>
      </div>

    
    <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12">CSV File</label>
        <div class="col-md-9 col-sm-9 col-xs-12">
            <div class="input-group">
                <div ngf-drop ngf-select ng-model="importCtrl.files" class="drop-box" 
            ngf-drag-over-class="'dragover'" ngf-multiple="true" ngf-allow-dir="true"
            accept=".csv" 
            >Drop csv file here or click to select</div>
        </div>
            
      </div>
    </div>
    
    <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12">Files</label>
        <div class="col-md-9 col-sm-9 col-xs-12">
            <div class="input-group">
                <ul>
                    <li ng-repeat="f in importCtrl.files" style="font:smaller">{{f.name}} {{f.$error}} {{f.$errorParam}}</li>
                </ul>
        </div>
            
      </div>
    </div>
        
    
    <div class="ln_solid"></div>
  <div class="form-group">
    <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
        <button type="submit" ng-disabled="importData.$invalid" class="btn btn-primary" ng-click="importCtrl.import()">Import</button>
        
    </div>
  </div>    

    
</form>

<div class="col-md-4 col-sm-12">
    <h3>Success</h3>
    <table class="table">
        <thead>
            <tr>
                <th>Line in File</th>
                <th>CRN</th>
                <th>Course</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="i in importCtrl.output.success">
                <td>{{i.index}}</td>
                <td>{{i.crn}}</td>
                <td>{{i.course}}</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="col-md-4 col-sm-12">
    <h3>Already Exists</h3>
    <table class="table">
        <thead>
            <tr>
                <th>Line in File</th>
                <th>CRN</th>
                <th>Course</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="i in importCtrl.output.alreadyExists">
                <td>{{i.index}}</td>
                <td>{{i.crn}}</td>
                <td>{{i.course}}</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="col-md-4 col-sm-12">
    <h3>Failed</h3>
    <table class="table">
        <thead>
            <tr>
                <th>Line in File</th>
                <th>CRN</th>
                <th>Course</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="i in importCtrl.output.error">
                <td>{{i.index}}</td>
                <td>{{i.crn}}</td>
                <td>{{i.course}}</td>
            </tr>
        </tbody>
    </table>
</div>