<div class="col-md-11">
    <day dow="Monday" times="courseCtrl.days[0].Monday"></day>
    <day dow="Tuesday" times="courseCtrl.days[1].Tuesday"></day>
    <day dow="Wednesday" times="courseCtrl.days[2].Wednesday"></day>
    <day dow="Thursday" times="courseCtrl.days[3].Thursday"></day>
    <day dow="Friday" times="courseCtrl.days[4].Friday"></day>
</div>

<div class="col-md-1">
    <div class="row">
        <ul class="nav nav-tabs tabs-left">
            <li ng-class="{active : courseCtrl.isLab === 0}">
                <a ng-click="courseCtrl.setIsLab(0)"  data-toggle="tab"><h5>Lectures</h5></a>
            </li>
            <li ng-class="{active : courseCtrl.isLab === 1}">
                <a ng-click="courseCtrl.setIsLab(1)"  data-toggle="tab"><h5>Labs</h5></a>
            </li>
        </ul>
        <br>
    </div>
    <div class="row" >
        <course-semester-list semesters="courseCtrl.semesters"></course-semester-list>
    </div>
</div>