<h1>EE{{courseHistoryCtrl.courseID}}</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th>CRN</th>
            <th>Instructor</th>
            <th>Credits</th>
            <th>Semester</th>
            <th>Year</th>
            <th>On Campus/Online</th>
            <th>Lab?</th>
            <th>Dates</th>
            <th>Start Time</th>
            <th>End Time</th>
            <th>Location</th>
            <th>Days</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="item in courseHistoryCtrl.course">
            <th>{{item.CRN}}</th>
            <th><a ng-repeat="i in item.instructors">{{i.name}}</a></th>
            <th>{{item.credits}}</th>
            <th>{{item.semester}}</th>
            <th>{{item.year}}</th>
            <th>{{item.classType}}</th>
            <th ng-if="item.isLab == 1">Yes</th>
            <th ng-if="item.isLab == 0">No</th>
            <th>{{item.dates}}</th>
            <th>{{item.startTime}}</th>
            <th>{{item.endTime}}</th>
            <th>{{item.room}}</th>
            <th>{{item.days}}</th>
        </tr>
    </tbody>
</table>