
  <div class="modal" id="addRoomModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <form name="addRoomForm">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Add Room</h4>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="roomNumber">Room Number</label>
            <input name="roomNumber" id="roomNumber" class="form-control" type="number" placeholder="Ex: 0103" ng-model="roomNumber" required>
            <span ng-show="addRoomForm.roomNumber.$touched && addRoomForm.roomNumber.$invalid" class="validation-message">The room number is required</span>
          </div>
          <div class="form-group">
            <label for="buildingNumber">Building Number</label>
            <input name="buildingNumber" id="buildingNumber" class="form-control" type="number" placeholder="Ex: 07" ng-model="buildingNumber" required>
            <span ng-show="addRoomForm.buildingNumber.$touched && addRoomForm.buildingNumber.$invalid" class="validation-message">The building number is required</span>
          </div>
          <div class="form-group">
            <label for="capacity">Capacity</label>
            <input name="capacity" id="capacity" class="form-control" type="number" placeholder="Ex: 100" ng-model="capacity">
            <span ng-show="addRoomForm.capacity.$touched && addRoomForm.capacity.$invalid" class="validation-message">The capacity needs to be a number</span>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="reset()">Close</button>
          <button type="submit" class="btn btn-primary" ng-click="addRoom()" data-dismiss="modal" ng-disabled="addRoomForm.$invalid">Add Room</button>
        </div>
        </form>
      </div>
    </div>
  </div>